@font-face {
  font-family: 'DINPro-Bold';
  src: url('fonts/DINPro-Bold.eot');
  src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/DINPro-Bold.woff') format('woff'),
       url('fonts/DINPro-Bold.ttf') format('truetype'),
       url('fonts/DINPro-Bold.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src: url('fonts/roboto-regular-webfont.eot');
  src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-regular-webfont.woff') format('woff'),
       url('fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('fonts/roboto-regular-webfont.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
